<div align="center">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input class= "form-control" placeholder="title" type="text" name="title">
    <input class= "form-control" placeholder="Video Url" type="text" name="video">
    <textarea class= "form-control" name="text" placeholder="text" rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>